cachelib==0.12.0
email_validator==2.1.1
flask-compress==1.14
flask-script==2.0.6
flask-wtf==1.2.1
flask==3.0.2
govuk-frontend-jinja==3.0.0
govuk-frontend-wtf==3.0.0
gunicorn==21.2.0
hmlr-frontend-jinja==1.0.0
landregistry-enhanced-logging[flask]==2.0.3
landregistry-exception-handlers==2.0.1
landregistry-healthchecks==3.0.0
landregistry-security-headers==1.0.5
misaka==2.1.1
requests==2.31.0

flask-session==0.8.0
Flask-Babel==4.0.0
redis==5.0.3
git+http://internal-git-host/llc-beta/jwt-validation.git@v1.2.3
cryptography==42.0.5
geopy==2.4.1
namedlist==1.8
marshmallow==3.21.1
python-dateutil==2.9.0.post0
dicttoxml2==2.1.0
shapely==2.0.3
werkzeug==3.0.2
defusedxml==0.7.1
