{% extends 'base-templates/base.html' %}

{% from "govuk_frontend_jinja/components/inset-text/macro.html" import govukInsetText %}

{% set map_style = "address-search-results-map" %}

{% block title %}{{ _('Confirm search area') }}{% endblock %}

{% block inner_content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <h1 class="govuk-heading-xl">{{ _('Confirm search area') }}</h1>
    {% set confirm_area_html %}<span class="govuk-!-font-weight-bold">‘{{ _('Confirm area') }}’</span>{% endset %}
    <p class="govuk-body">{{ _('The dotted line shows the area of your search. If this is correct, click %(confirm_area_html)s.', confirm_area_html=confirm_area_html) }}</p>
    {% set edit_search_area_html %}<a class="govuk-link" href="{{ url_for('search.define_search_area', page_style='edit') }}">{{ _('edit the search area') }}</a>{% endset %}
    <p class="govuk-body">{{ _('You can also %(edit_search_area_html)s.', edit_search_area_html=edit_search_area_html) }}</p>
    {% if warning %}
        {% set inset_html %}
            <p class="govuk-body">{{ _('This search area is near a local authority’s boundary, not available on the register yet.') }}</p>
            <p class="govuk-body">{{ _('Your results will not include any charges for this authority.') }}</p>
        {% endset %}
        {{ govukInsetText({
        "html": inset_html
        }) }}
    {% endif %}
    <input type="hidden" name="saved-features" id="saved-features" value="{{ geometry }}">
    <form method="post" action="{{ url_for('search.confirm_search_area') }}" novalidate>
      {{ form.csrf_token }}
      {{ form.submit }}
    </form>
  </div>
  <div class="govuk-grid-column-two-thirds">
    <div id="{{ map_style }}" aria-label="{{ _('Image showing search extent') }}">
      {% include "includes/map/map.html" %}
    </div>
  </div>
</div>
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  {% include 'includes/map/map-variables.html' %}
  <!--[if gt IE 8]><!-->
  <script src="{{ url_for('static', filename='js/proj4.js') }}"> </script>
  <script src="{{ url_for('static', filename='js/jquery.js') }}"> </script>
  <script src="{{ url_for('static', filename='js/mapping.js') }}"> </script>
  <script src="{{ url_for('static', filename='js/confirm-search-area.js') }}"> </script>
  <!--<![endif]-->
{% endblock %}
