{% extends 'base-templates/base.html' %}

{% from "govuk_frontend_jinja/components/inset-text/macro.html" import govukInsetText %}

{% block title %}{{ _('Identify a search area') }}{% endblock %}

{% block inner_content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">{{ _('Identify a search area') }}</h1>
    <p class="govuk-body">
      {{ _('To search for a local land charge, you will need to identify a property or area of land. We call this a search area.') }}
    </p>
    {% set inset_html %}<a class="govuk-link" href="{{ url_for('check_migrated_authorities.check_authorities') }}">{{ _('Check if a local authority has moved to our central register.') }}</a>{% endset %}
    {{ govukInsetText({
      "html": inset_html
    }) }}
    <form method="post" id="search-form" action="{{ url_for('search.search_by_title_number') }}" novalidate>
      {{ form.csrf_token }}
      {{ form.title_number(params={"classes": 'govuk-input--width-20', 'spellcheck': false, "label": {"classes": "govuk-label--m"} }) }}
      {% set os_terms_html %}<a class="govuk-link" href="{{ config.OS_TERMS_CONDITIONS_LINK | string() }}" target="_blank">{{ _('Ordnance Survey licence terms and conditions (opens in new tab)') }}</a>{% endset %}
      <p class="govuk-body">{{ _('Use of this data (including any link between the address and its location) is subject to %(os_terms_html)s.', os_terms_html=os_terms_html|safe) }}</p>
      {% set tou_html %}<a class="govuk-link" href="{{ url_for('main.terms_and_conditions') }}">{{ _('terms of use') }}</a>{% endset %}
      {% set practice_html %}<a class="govuk-link" href="{{ _('https://www.gov.uk/government/publications/local-land-charges-pg79/local-land-charges') }}">{{ _('Practice Guide 79') }}</a>{% endset %}
      <p class="govuk-body">{{ _('By starting a search you agree to our %(tou_html)s. For further information about the service see %(practice_html)s', tou_html=tou_html|safe, practice_html=practice_html|safe) }}.</p>
      {{ form.submit }}
    </form>
  </div>
  {% include 'includes/search-side-menu.html' %}
</div>
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  <!--[if gt IE 8]><!-->
  <script src="{{ url_for('static', filename='js/search-button-ga.js') }}"> </script>
  <!--<![endif]-->
{% endblock %}
