{% extends 'base-templates/base.html' %}

{% block title %}{{ _('Change your password') }}{% endblock %}

{% block inner_content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">{{ _('Change your password') }}</h1>
    <form method="post" novalidate>
      {{ form.csrf_token }}
      {{ form.current_password(params={"classes": 'govuk-input--width-20', 'spellcheck': false}) }}
      {% set hint_html %}
        {{ _('Your password must') }}:
        <ul class="govuk-list govuk-list--bullet govuk-hint">
          <li>{{ _('be at least 8 characters long') }}</li>
          <li>{{ _('use both capital and lower case letters') }}</li>
          <li>{{ _('use at least 1 number') }}</li>
          <li>{{ _('use at least 1 symbol, like a question mark') }}</li>
        </ul>
      {% endset %}
      {{ form.new_passwords(params={"new_passwords-new_password": {"classes": 'govuk-input--width-20', "hint": {"html": hint_html } }, "new_passwords-confirm_new_password": {"classes": 'govuk-input--width-20', 'spellcheck': false} }) }}
      {{ form.submit }}
      <p class="govuk-body">
        <a href="{{ url_for('my_account.my_account_page') }}" class="govuk-link">{{ _('Return to my account') }}</a>
      </p>
    </form>
  </div>
</div>
{% endblock %}