{% extends 'base-templates/base.html' %}

{% from "govuk_frontend_jinja/components/pagination/macro.html" import govukPagination %}
{% from "govuk_frontend_jinja/components/table/macro.html" import govukTable %}

{% block title %}{{ _('Official searches we recommend you repeat') }}{% endblock %}
{% block inner_content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    {% include 'includes/subnav.html' %}
  </div>
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-xl">{{ _('Official searches we recommend you repeat') }}</h1>
    {% if result_count == 0 %}
      <p class="govuk-body">{{ _('You currently have no official searches we recommend you repeat') }}.</p>
    {% else %}
      {% if result_count == 1 %}
        <p class="govuk-body">{{ _('You have %(result_count)s search with updated local land charge information', result_count=result_count) }}.</p>
      {% else %}
        <p class="govuk-body">{{ _('You have %(result_count)s searches with updated local land charge information', result_count=result_count) }}.</p>
      {% endif %}
      {% set table_rows = [] %}
      {% for search in searches %}
        {% set link_html %}
          <a href="{{ url_for('my_account.repeat_search', search_id=search['search-id']) }}" class="govuk-link">{{ _('Repeat search') }}</a>
        {% endset %}
        {% do table_rows.append([{"text": search['search-id']},
                                 {"text": search['search-area-description']},
                                 {"text": search['formatted_date']},
                                 {"html": link_html}]) %}
      {% endfor %}
      {{ govukTable({
          "caption": _('Official searches with updated local land charge information'),
          "captionClasses": "govuk-table__caption--m",
          "firstCellIsHeader": false,
          "head": [
            {
              "text": _("Search reference")
            },
            {
              "text": _("Search area")
            },
            {
              "text": _("Date of search")
            },
            {
              "text": _("Action")
            }
          ],
          "rows": table_rows
        }) }}
      {% if table_rows | length == 0 %}
        <p class="govuk-body">{{ _('No searches found') }}.</p>
      {% endif %}
      {% if show_pagination %}
        {{ govukPagination(pagination_info) }}
      {% endif %}
    {% endif %}
    <p class="govuk-body">
      <a class="govuk-link" href="{{ url_for('search.search_by_post_code_address') }}">{{ _('Start a new search') }}</a>
    </p>
  </div>
</div>
{% endblock %}
