{% extends 'base-templates/base.html' %}

{% from "govuk_frontend_jinja/components/inset-text/macro.html" import govukInsetText %}
{% from "govuk_frontend_jinja/components/button/macro.html" import govukButton -%}

{% block title %}{{ _('Check if a local authority is available on this service') }}{% endblock %}

{% block inner_content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">{{ _('Check if a local authority is available on this service') }}</h1>
    <h2><label class="govuk-label govuk-label--m" for="organisation_search">{{ _('Enter a local authority') }}</label></h2>
    <div id="organisation-search-hint" class="govuk-hint">{{ _('You may know a local authority as a council. For example, \'The North Yorkshire Council\'.') }}</div>
    <form id="organisation_search_form" method="post" action="{{ url_for('check_migrated_authorities.check_authorities') }}" novalidate>
      {{ form.csrf_token }}
      <div class="govuk-body">
        {{ form.organisation_search(params={"classes": 'govuk-input--width-20', 'spellcheck': false, 'attributes': {'data-use-autocomplete': 'yes', 'data-default-value': form.organisation_search.data } }) }}
        <a href="https://www.gov.uk/find-local-council" class="govuk-link" rel="noreferrer noopener" target="_blank">{{ _('Find out which local authority your search area belongs to') }} {{ _('(opens in new tab)') }}</a>
      </div>
      {{ form.submit() }}
    </form>
  </div>
</div>
{% endblock %}
