{% extends 'base-templates/base.html' %}

{% block title %}{{ _('Your link has expired') }}{% endblock %}

{% block inner_content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">{{ _('Your link has expired') }}</h1>
    <p class="govuk-body">
      {{ _('Enter your email address and we will send you a new link') }}.
    </p>
    <form method="post" action="{{ url_for('account_admin.reset_password', page_type='expired-password-link') }}" novalidate>
      {{ form.csrf_token }}
      {{ form.email_address(params={"classes": 'govuk-input--width-20', 'spellcheck': false}) }}
      {{ form.submit }}
    </form>
  </div>
</div>
{% endblock %}
