


{% extends 'base-templates/base.html' %}

{% from "govuk_frontend_jinja/components/inset-text/macro.html" import govukInsetText %}

{% block title %}{{ _('Check your email') }}{% endblock %}
{% block inner_content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">{{ _('Check your email') }}</h1>
    {{ govukInsetText({"text": _('We have sent an email to %(email)s.', email=email)}) }}
    {% set link_html %}<a href="{{ url_for('account_admin.resend_reset_password') }}" class="govuk-link">{{ _('resend email') }}</a>{% endset %}
    <p class="govuk-body">{{ _('To change your password select the link in the email. If you did not get an email, check your junk inbox or %(link_html)s', link_html=link_html) }}.</p>
  </div>
</div>
{% endblock %}
