{% extends 'base-templates/base.html' %}

{% block title %}{{ _('Enter your email address') }}{% endblock %}

{% block inner_content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">{{ _('Enter your email address') }}</h1>
    <form method="post" action="{{ url_for('account_admin.reset_password', page_type='reset-password') }}" novalidate>
      {{ form.csrf_token }}
      {{ form.email_address(params={"classes": 'govuk-input--width-20', 'spellcheck': false}) }}
      {{ form.submit }}
    </form>
  </div>
</div>
{% endblock %}